/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Pangolin";
  src: url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.eot"), url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.woff") format("woff"), url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.svg#Pangolin") format("svg"); }

body .nofooter header nav, body .nofooter header nav a, body .nofooter main .block .hello, body .nofooter main .block .line, body .nofooter main .block .line a, body footer .copyright {
  display: flex;
  align-items: center; }

body {
  float: left;
  min-width: 100%;
  background-color: #848484; }
  body .nofooter {
    min-height: calc(100vh - 80px); }
    body .nofooter header {
      background-color: #646464;
      display: flex;
      justify-content: flex-end;
      height: 80px; }
      body .nofooter header nav {
        justify-content: center; }
        body .nofooter header nav a {
          width: 100px;
          justify-content: center;
          font-family: "Pangolin", cursive;
          font-size: 2em;
          text-decoration: none;
          color: #000000; }
          body .nofooter header nav a:hover {
            color: #FF9100; }
    body .nofooter main .block {
      float: left;
      width: 50%; }
      body .nofooter main .block .hello {
        justify-content: space-around;
        padding: 50px 50px 25px 50px; }
        body .nofooter main .block .hello svg {
          width: 200px; }
          body .nofooter main .block .hello svg path:hover {
            fill: #FF9100; }
        body .nofooter main .block .hello span {
          font-family: "Pangolin", cursive;
          font-size: 7em;
          color: #FF9100; }
      body .nofooter main .block .about {
        padding: 25px 50px 25px 50px; }
        body .nofooter main .block .about p {
          font-family: "Pangolin", cursive;
          font-size: 2.3em;
          line-height: 1.2;
          text-indent: 1em;
          text-align: justify;
          color: #FF9100; }
          body .nofooter main .block .about p a {
            text-decoration: none;
            color: #000000; }
            body .nofooter main .block .about p a:hover {
              color: #FF9100; }
      body .nofooter main .block .line {
        justify-content: space-evenly;
        padding: 1.1em 0 0 0;
        font-family: "Pangolin", cursive;
        font-size: 3em;
        color: #FF9100; }
        body .nofooter main .block .line span {
          font-size: 1.5em; }
        body .nofooter main .block .line a {
          text-decoration: none;
          color: #000000; }
          body .nofooter main .block .line a svg {
            width: 1.5em; }
          body .nofooter main .block .line a:hover path {
            fill: #FF9100; }
      body .nofooter main .block .resume a:nth-child(1) {
        display: inline;
        font-size: 1.5em;
        width: 2.5em;
        border-radius: 1.5em; }
        body .nofooter main .block .resume a:nth-child(1):hover {
          background: #FF9100; }
      body .nofooter main .block .resume a sup {
        font-size: 0.5em;
        vertical-align: text-top; }
      body .nofooter main .block .mail {
        font-size: 4em;
        padding: 1.3em 0 1.1em 0; }
        body .nofooter main .block .mail a:hover {
          color: #FF9100; }
  body footer {
    background-color: #646464;
    float: left;
    width: 100%; }
    body footer .copyright {
      height: 80px;
      justify-content: space-evenly;
      font-family: "Pangolin", cursive;
      font-size: 2em;
      color: #000000; }

@media (max-width: 950px) {
  body .nofooter {
    min-height: initial; }
    body .nofooter main .block {
      width: 100%; }
      body .nofooter main .block .hello {
        padding: 20px 10px 10px 10px; }
        body .nofooter main .block .hello svg {
          width: 115px; }
        body .nofooter main .block .hello span {
          font-size: 5.5em; }
      body .nofooter main .block .about {
        padding: 10px 10px 20px 10px; }
        body .nofooter main .block .about p {
          font-size: 1.8em; }
      body .nofooter main .block .line {
        justify-content: space-around; }
        body .nofooter main .block .line span {
          font-size: 1em; }
        body .nofooter main .block .line a svg {
          width: 1.3em; }
      body .nofooter main .block .aboutme {
        padding: 0.5em 0 0 0; }
      body .nofooter main .block .resume a:nth-child(1) {
        font-size: 1.2em; }
      body .nofooter main .block .mail {
        font-size: 2.3em;
        padding: 1.2em 0 1.2em 0; }
  body footer .copyright {
    font-size: 1.5em; } }
