@media (max-width: 950px)
    body
        .nofooter
            min-height: initial
            header
                nav
                    width: calc(100% - 3em)
                    a
            main
                .block1
                    width: 100%
                    min-height: initial
                    position: static
                    .wrapper1
                        position: static
                        margin: auto
                        width: calc(100% - 3em)
                        margin-top: 2em
                        margin-bottom: 2.5em
                        .hello
                            div
                                margin-right: 1em
                                margin-left: 0
                                a
                                    svg
                                        width: 5.625em
                                        path
                            .name
                                p
                                    font-size: 1.125em
                                    &:nth-child(1)
                                        margin-bottom: 0
                        .about
                            p
                                font-size: 1.125em
                                a
                .block2
                    width: 100%
                    position: static
                    .wrapper2
                        position: static
                        margin: auto
                        width: calc(100% - 3em)
                        margin-top: 1.5em
                        margin-bottom: 2.5em
                        .line
                            span
                            a
                                svg
                                    path
                        .resume
                            margin-top: 1em
                            a
                                &:nth-child(1)
                                    font-size: 3.125em
                                sup
                                &:nth-child(2)
                                    margin-left: 1.6em
                                    svg
                                        width: 3.3125em
                                &:nth-child(3)
                                    margin-left: 1.8em
                                    svg
                                        width: 3.69em
                        .git
                            margin-top: 1.5625em
                            a
                                &:nth-child(1)
                                    svg
                                        width: 3.75em
                                &:nth-child(2)
                                    margin-left: 1.6em
                                    svg
                                        width: 3.75em
                                &:nth-child(3)
                                    margin-left: 1.7em
                                    svg
                                        width: 3.63em
                        .contact
                            margin-top: 2.644em
                        .social
                            margin-top: 1.06em
                            a
                                &:nth-child(1)
                                    svg
                                        width: 3.625em
                                &:nth-child(2)
                                    margin-left: 1.9em
                                    svg
                                        width: 3.3125em
                                &:nth-child(3)
                                    margin-left: 1.8em
                                    svg
                                        width: 4.3em
                        .mail
                            margin-top: 1.1em
                            a
        footer
            .copyright
                span