// COLORS:
// background-color bright (header, footer, logo, some text and hover)
$color_bright: #E63E11
// background-color light (.block2)
$color_light: #FDF0EC
// white color
$color_white: #FFFFFF
// black color (background .block1, some text)
$color_black: #333333

//DIMENSIONS:
// height header and footer
$height_hf: 2.5em

//flex - vertical center
%flex-center
    display: flex
    align-items: center