@font-face
    font-family: "Pangolin"
    src: url("https://fonts.googleapis.com/css?family=Pangolin&amp;subset=cyrillic")

//main width of content
$main_width: 1200px

//background-color header and footer
$color_hf: #646464

//main color
$color: #FFB700

//flex - vertical center
%flex-center
    display: flex
    justify-content: center