@font-face
    font-family: "Pangolin"
    src: url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.eot"), url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.woff") format("woff"), url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/Pangolin/pangolin-v4-cyrillic_latin-regular.svg#Pangolin") format("svg")

// COLORS:
// background-color header and footer
$color_hf: #646464
// background-color main
$color_m: #848484
// color for text and hover
$color: #FF9100
// black color
$color_b: #000000

//DIMENSIONS:
// height header and footer
$height_hf: 80px

//flex - vertical center
%flex-center
    display: flex
    align-items: center