@import _reset.sass
@import _fonts.sass
@import _variables.sass
    
body
    float: left
    min-width: 100%
    background-color: $color_light
    .nofooter
        min-height: calc(100vh - #{$height_hf})
        //float: left
        //width: 100%
        header
            background-color: $color_bright
            display: flex
            justify-content: center
            height: $height_hf
            nav
                @extend %flex-center
                justify-content: center
                a
                    font-family: "Commissioner", sans-serif
                    font-weight: 700
                    font-size: 1.5em
                    text-decoration: none
                    color: $color_white
                    &:hover
                        color: $color_black
        main
            .block1
                float: left
                width: 50%
                min-height: calc(100vh - #{$height_hf} - #{$height_hf})
                background-color: $color_black
                @extend %flex-center
                justify-content: center
                .wrapper1
                    width: 30.375em
                    .hello
                        @extend %flex-center
                        justify-content: space-between
                        div
                            margin-right: 3em
                            margin-left: 1.5em
                            a
                                svg
                                    width: 8em
                                    path
                                        fill: $color_bright
                                        &:hover
                                            fill: $color_white
                        .name
                            p
                                font-family: "Commissioner", sans-serif
                                font-weight: 400
                                font-size: 1.5em
                                line-height: 1.33
                                color: $color_white
                                &:nth-child(1)
                                    margin-bottom: 1.5em
                    .about
                        p
                            margin-top: 1.5em
                            font-family: "Commissioner", sans-serif
                            font-weight: 400
                            font-size: 1.5em
                            line-height: 1.33
                            color: $color_white
                            a
                                font-style: italic
                                text-decoration: underline
                                color: $color_bright
                                &:hover
                                    color: $color_white
            .block2
                float: left
                width: 50%
                min-height: calc(100vh - #{$height_hf} - #{$height_hf})
                @extend %flex-center
                justify-content: center
                .wrapper2
                    width: 30.375em
                    .line
                        @extend %flex-center
                        justify-content: flex-start
                        font-family: "Commissioner", sans-serif
                        span
                            font-weight: 700
                            font-size: 2em
                            color: $color_bright
                        a
                            color: $color_black
                            text-decoration: none
                            &:hover
                                color: $color_bright
                            svg
                                path
                                    fill: $color_black
                                    &:hover
                                        fill: $color_bright
                    .resume
                        margin-top: 1.625em
                        a
                            &:nth-child(1)
                                font-weight: 700
                                font-size: 3.5625em
                            sup
                                font-weight: 700
                                font-size: 0.6em
                                vertical-align: super
                            &:nth-child(2)
                                margin-left: 1.625em
                                svg
                                    width: 4.75em
                            &:nth-child(3)
                                margin-left: 1.57em
                                svg
                                    width: 4.95em
                    .git
                        margin-top: 2.1875em
                        a
                            &:nth-child(1)
                                svg
                                    width: 4.875em
                            &:nth-child(2)
                                margin-left: 1.5em
                                svg
                                    width: 4.875em
                            &:nth-child(3)
                                margin-left: 1.53em
                                svg
                                    width: 4.85em
                    .contact
                        margin-top: 4.8125em
                    .social
                        margin-top: 1.6em
                        a
                            &:nth-child(1)
                                svg
                                    width: 4.875em
                            &:nth-child(2)
                                margin-left: 1.5625em
                                svg
                                    width: 4.75em
                            &:nth-child(3)
                                margin-left: 1.554em
                                svg
                                    width: 5.455em
                    .mail
                        margin-top: 1.6em
                        a
                            font-weight: 700
                            font-size: 1.75em
    footer
        background-color: $color_bright
        float: left
        width: 100%
        height: $height_hf
        @extend %flex-center
        justify-content: space-evenly
        .copyright
            span
                font-family: "Commissioner", sans-serif
                font-weight: 500
                font-size: 1.125em
                color: $color_white
            
@import _media.sass