@import _reset.sass
@import _variables.sass
    
body
    float: left
    min-width: 100%
    background-color: $color_m
    .nofooter
        min-height: calc(100vh - #{$height_hf})
        //float: left
        //width: 100%
        header
            background-color: $color_hf
            display: flex
            justify-content: flex-end
            height: $height_hf
            nav
                @extend %flex-center
                justify-content: center
                a
                    width: 100px
                    @extend %flex-center
                    justify-content: center
                    font-family: "Pangolin", cursive
                    font-size: 2em
                    text-decoration: none
                    color: $color_b
                    &:hover
                        color: $color
        main
            .block
                float: left
                width: 50%
                .hello
                    @extend %flex-center
                    justify-content: space-around
                    padding: 50px 50px 25px 50px
                    svg
                        width: 200px
                        path:hover
                            fill: $color
                    span
                        font-family: "Pangolin", cursive
                        font-size: 7em
                        color: $color
                .about
                    padding: 25px 50px 25px 50px
                    p
                        font-family: "Pangolin", cursive
                        font-size: 2.3em
                        line-height: 1.2
                        text-indent: 1em
                        text-align: justify
                        color: $color
                        a
                            text-decoration: none
                            color: $color_b
                            &:hover
                                color: $color
                .line
                    @extend %flex-center
                    justify-content: space-evenly
                    padding: 1.1em 0 0 0
                    font-family: "Pangolin", cursive
                    font-size: 3em
                    color: $color
                    span
                        font-size: 1.5em
                    a
                        @extend %flex-center
                        text-decoration: none
                        color: $color_b
                        svg
                            width: 1.5em
                        &:hover
                            path
                                fill: $color
                .resume
                    a
                        &:nth-child(1)
                            display: inline
                            font-size: 1.5em
                            width: 2.5em
                            border-radius: 1.5em
                            &:hover
                                background: $color
                        sup
                            font-size: 0.5em
                            vertical-align: text-top
                .mail
                    font-size: 4em
                    padding: 1.3em 0 1.1em 0
                    a
                        &:hover
                            color: $color
    footer
        background-color: $color_hf
        float: left
        width: 100%
        .copyright
            height: $height_hf
            @extend %flex-center
            justify-content: space-evenly
            font-family: "Pangolin", cursive
            font-size: 2em
            color: $color_b
            
@import _media.sass